<html>
    <head>

    </head>
    <body>
        <p>Hola {{ user.username }},  </p>
        <p>Para activar tu cuenta de Amigo Invisible haz click <a href="https://{{ domain }}{% url 'sorteos:activate' uidb64=uid token=token %}">aquí</a> o abre en tu navegador el siguiente enlace: https://{{ domain }}{% url 'sorteos:activate' uidb64=uid token=token %}</p>
        <p>Si no has creado un nuevo usuario en Amigo Invisible o no deseas activar tu cuenta, simplemente ignora este mensaje.</p>
    </body>
</html>
