{% extends "sorteos/base_layout.html" %}
{% load static %}
 
{% block content %}
            <div class="container-sm p-2 my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                        <div class="card-header">
                            <div class="row justfy-content-center">
                                <div class="col-4">
                                    <img src="{% static '/img/logo.png' %}" alt="Amigo Invisible" class="img-thumbnail">
                                </div> 
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="mb-3 justify-content-center">
                                    <p>Hola, {{ user }}.
                                        Comprueba tu correo electrónico y sigue las instrucciones para activar tu cuenta. No olvides mirar en la carpeta de Spam.</p>
                                </div>
                                <div class="mb-3 justify-content-center">
                                 <a href="{% url 'sorteos:index' %}">Entendido</a>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
