{% extends "sorteos/base_layout.html" %}
{% load static %}
 
{% block content %}
    <div class="container-sm p-2 my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                <div class="card-header">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <img src="{% static '/img/logo.png' %}" alt="Amigo Invisible" class="img-thumbnail">
                        </div>                        
                    </div>
                </div>
                    <div class="card-body">
                        
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                <div class="form-group col-md-12">
                                    {% if form.errors %}
                                        <div class="invalid-feedback d-block"> Error cambiando contraseña</div>                                           
                                        {% endif %}
                                    <div class="form-label-group">
                                        <label for="id_old_password">Contraseña actual</label>
                                        <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                                    </div>
                                    {% for e in form.errors.old_password %}
                                    <div class="invalid-feedback d-block">{{e}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                                <div class="mb-3">
                                    <div class="form-group col-md-12">
                                        <div class="form-label-group">
                                            <label for="id_new_password1">Contraseña nueva</label>
                                            <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                                        </div>
                                        {% for e in form.errors.new_password1 %}
                                        <div class="invalid-feedback d-block">{{e}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                <div class="form-group col-md-12">
                                    <div class="form-label-group">
                                        <label for="id_new_password2">Repite la contraseña</label>
                                        <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                                    </div>
                                    {% for e in form.errors.new_password2 %}
                                    <div class="invalid-feedback d-block">{{e}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                                <div class="mb-3 justify-content-center">
                                    <input type="submit" class="btn btn-primary" value="Cambiar contraseña" />
                                </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                                <div class="mb-3 justify-content-center">
                                    <a href="{% url 'sorteos:index' %}">Volver</a>
                                </div> 
                            </form>                                                                          
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}