{% extends "sorteos/base_layout.html" %}
{% load static %}

{% block content %}
    <div class="container-sm p-2 my-2">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <img src="{% static 'img/regalo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>                           
                    </div>                    
                </div>          
            </div>
        </div>
    </div>
{% endblock %}
