{% extends "sorteos/base_layout.html" %}
{% load static %}

{% block content %}
    <div class="container-sm pt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">        
                        <div class="box">
                            <div class="box-header with-border">
                                <div class="col-6">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'sorteos:participante' sorteo.md5%}">Añadir amigo</a></li>
                                            {% if sorteo.done %}
                                            <li class="breadcrumb-item active" aria-current="page">Sortear</li>
                                            <li class="breadcrumb-item"><a href="{% url 'sorteos:mails' sorteo.md5%}" >Informar amigos</a></li>
                                            {% else %}
                                            <li class="breadcrumb-item"><a href="{% url 'sorteos:sortear' sorteo.md5%}">Sortear</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Informar amigos</li>
                                            {% endif %}
                                            <!-- <li class="breadcrumb-item"><a href="{% url 'sorteos:index' %}">Mis eventos</a></li> -->
                                        </ol>
                                    </nav>
                                </div>
                                <div class="col-6">
                                    <h3 class="box-title"> Amigos en {{sorteo.name}} </h3>
                                </div>                                    
                            </div>        
                            <div class="box-body">
                                <div class="row">
                                    {% if sorteo.done and sorteo.enviado %}
                                    <div class="alert alert-danger" role="alert">¡Ojo, el sorteo ya está hecho y has enviado la información a los participantes!<br>Si haces cambios, deberás volver a sortear y enviar información a los participantes.<br>Si alguno de los participantes no ha recibido el email, pídele que compruebe su carpeta de SPAM.<br>También puedes volver a enviarlos pulsando "Informar amigos". </div>
                                    {% elif sorteo.done and not sorteo.enviado %}
                                    <div class="alert alert-info" role="alert">¡Ya has hecho el sorteo! Envía los resultados a los participantes pulsando "Informar amigos"</div>
                                    {% else %}
                                    <div class="alert alert-dark" role="alert">Si no desear participar en el sorteo, elimínate de la lista de participantes.</div>
                                    <div class="alert alert-dark" role="alert">Cuando termines de añadir participantes y las exclusiones. Pulsa "Sortear".</div>                                          
                                    {% endif %}
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Participante</th>
                                                <th class="text-center">Email</th>
                                                <th class="text-center">Excepto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for amigo in sorteo_participantes_list %}
                                            <tr>
                                                <td align="center">
                                                    {{ amigo.name }} 
                                                    <a href="{% url 'sorteos:participanteborrar' amigo.md5 %}"><i class="fas fa-trash"></i></a>
                                                </td>
                                                <td align="center">
                                                    {{ amigo.email }}
                                                </td>
                                                <td align="center">
                                                    {% for e in exclusiones %}
                                                        {% if e.de_participante == amigo %}
                                                            {{ e.a_participante }}
                                                            <a href="{% url 'sorteos:exclusionborrar' e.md5%}"><i class="fas fa-trash"></i></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <a href="{% url 'sorteos:exclusion' sorteo.md5 amigo.md5 %}"><i class="fas fa-plus"></i></a>                                          
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                                      
                                    </table>                      
                                </div>        
                            </div>
                            <!-- /.box-body -->
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}