{% extends "sorteos/base_layout.html" %}
{% load static %}

{% block content %}
    <div class="container-sm p-2 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                <div class="card-header">
                    <div class="row justify-content-center">
                        <h5 class="card-title">Añadir exclusion para {{participante}} en evento {{sorteo}}</h5>
                    </div>
                </div>
                    <div class="card-body">
                        {% for e in exclusiones %}
                        <p>{{e}}</p>
                        {% endfor %}
                        <form method="post" action="{% url 'sorteos:exclusion' sorteo.md5 participante.md5 %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <div class="form-group col-md-12">
                                    {% if form.errors %}
                                    <div class="invalid-feedback d-block">{{ form.a_participante.errors }}</div>
                                    {% endif %}
                                    <div class="form-label-group">
                                        <label for="form.a_participante.id_for_label">{{ participante }} no puede regalar a </label>
                                        {{form.a_participante}}
                                    </div>
                                    {% for e in form.errors.a_paticipante %}
                                    <div class="invalid-feedback d-block">{{e}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3 justify-content-center">
                                <input type="submit" class="btn btn-primary" value="Añadir exclusion" />
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                            <div class="mb-3 justify-content-center">
                                <a href="{% url 'sorteos:detail' sorteo.md5 %}" >Volver</a>
                            </div>
                        </form>                             
                    </div>                             
                </div>                 
            </div>
        </div>
    </div>
{% endblock %}