{% extends "sorteos/base_layout.html" %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <div class="container-sm pt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">        
                        <div class="box">
                            <div class="box-header with-border">
                                <div class="col-6">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'sorteos:sorteo' %}">Nuevo evento</a></li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="col-6">
                                    <h3 class="box-title"> Mis eventos </h3>
                                </div>                                
                            </div>        
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Evento</th>
                                                <th class="text-center">Condiciones</th>
                                                <th class="text-center"">Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sorteo in user_sorteos_list %}
                                            <tr>
                                                <td align="center">
                                                    <a href="{% url 'sorteos:detail' sorteo.md5 %}">{{ sorteo.name }}</a>
                                                    <a href="{% url 'sorteos:sorteoborrar' sorteo.md5 %}"><i class="fas fa-trash"></i></a>
                                                </td>
                                                <td align="center">
                                                    {{ sorteo.description }}
                                                </td>
                                                <td align="center">
                                                    {{ sorteo.created }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                                      
                                    </table>                        
                                </div>        
                            </div>
                            <!-- /.box-body -->
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}